@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto-slab: "Roboto Slab", serif; /* Fallback to serif if not loaded */
  --font-roboto: "Roboto", sans-serif;
}

.icon-eye {
  background: url("/icon-show-preview.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.icon-eye:hover {
  background-image: url("/icon-showhover-preview.svg");
}

.icon-eye.off {
  background: url("/icon-hide-preview.svg");
}
.icon-eye.off:hover {
  background: url("/icon-hidehover-preview.svg");
}

.icon-bin {
  background-image: url("/icon-delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.icon-bin:hover {
  background-image: url("/icon-deletehover.svg");
}

.dark blockquote {
  @apply bg-primary-150;
}

.dark pre {
  @apply bg-primary-150;
}

.dark .markdown h1,
.markdown h2,
.markdown h3,
.markdown h3,
.markdown h4 {
  @apply text-white;
}
